<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - moex_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Fonts.css" />
    <link rel="stylesheet" href="~/css/General.css" />
    <script src="~/js/raw/lib/jquery.js"></script>
    <script src="~/js/raw/lib/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/raw/lib/jquery.validate.js"></script>
    <script src="~/js/raw/lib/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/raw/lib/bootstrap.bundle.min.js"></script>
    @{ 
        var action = ViewContext.RouteData.Values["action"].ToString().ToLower(); 
        var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower(); 
    }
</head>
<body>
    <div class="content-wrapper">
        <div class="main-menu">
            <div class="@(action.Equals("index") && controller.Equals("monitoring") ? "active" : null)">
                <a asp-area="" asp-controller="Monitoring" asp-action="Index">Monitoring</a>
            </div>
            <div class="@(action.Equals("index") && controller.Equals("inprogress") ? "active" : null)">
                <a asp-area="" asp-controller="InProgress" asp-action="Index">In progress</a>
            </div>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">moex_web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - moex_web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
        *@
</body>
</html>
