@using moex_web.Data.Entities
@model List<Monitoring>

@{
    ViewData["Title"] = "Monitoring";
}

<h1>Monitoring</h1>

<table class="table table-bordered">
    <tr>
        <td>
            <b>SecId</b>
        </td>
        <td>
            <b>InitClose</b>
        </td>
        <td>
            <b>CurrentClose</b>
        </td>
        <td>
            <b>Percent</b>
        </td>
        <td>
            <b>DeleteDate</b>
        </td>
    </tr>
    @if (Model.Count != 0)
    {
        @for (int i = 0; i < (Model.Count < 100 ? Model.Count : 100); i++)
        {
            <tr>
                <td>
                    @Model[i].SecId
                </td>
                <td>
                    @Model[i].InitClose
                </td>
                <td>
                    @Model[i].CurrentClose
                </td>
                <td>
                    @Model[i].Percent
                </td>
                <td>
                    @Model[i].DeleteDate
                </td>
            </tr>
        }
    }
    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.SecId
                </td>
                <td>
                    @item.ShortName
                </td>
                <td>
                    @item.TradeDate
                </td>
                <td>
                    @item.Close
                </td>
            </tr>
        }*@
    @*@for (int i = 0; i <= 1000; i++)
        {
            <tr>
                <td>
                    @(i+1)
                </td>
                <td>
                    @Model[i].SecId
                </td>
                <td>
                    @Model[i].ShortName
                </td>
                <td>
                    @Model[i].TradeDate.ToShortDateString()
                </td>
                <td>
                    @Model[i].Close
                </td>
            </tr>
        }*@
    @**@
</table>

