@using moex_web.Data.Entities
@using Newtonsoft.Json
@using JsonSerializer = System.Text.Json.JsonSerializer
@model List<Monitoring>

@{
    <link rel="stylesheet" href="~/css/Monitoring.css" />
    ViewData["Title"] = "Monitoring";
}


<div class="monitoring-index-page">
    <h1>Monitoring</h1>
    <table class="table table-bordered monitoring-index-table">
        <thead>
        <tr>
            <th>
                <b>SecId</b>
            </th>
            <th>
                <b>InitClose</b>
            </th>
            <th>
                <b>CurrentClose</b>
            </th>
            <th>
                <b>Percent</b>
            </th>
            <th>
                <b>DeleteDate</b>
            </th>
            <th>
                <b>Sell</b>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    document.getElementById('monitoring-link').style.color = "red";
    document.getElementById('inprogress-link').style.color = "rgb(255, 255, 255)";
</script>

<script src="~/js/MonitoringIndexManager.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(function () {
        new MonitoringIndexManagerPack.MonitoringIndexManager(
            @Html.Raw(JsonSerializer.Serialize(Model)),
            @*'@Url.Action("Index", "Patterns")?id=',
            '@(User?.Identity?.IsAuthenticated)',
            '@Url.Action("SetLearnedState")',
            '@Url.Action("Index", "Faq")?id='*@
            );
    });
</script>
@*@if (Model.Count != 0)
    {
        @for (int i = 0; i < (Model.Count < 100 ? Model.Count : 100); i++)
        {
            <tr>
                <td>
                    @Model[i].SecId
                </td>
                <td>
                    @Model[i].InitClose
                </td>
                <td>
                    @Model[i].CurrentClose
                </td>
                <td>
                    @Model[i].Percent
                </td>
                <td>
                    @Model[i].DeleteDate
                </td>
            </tr>
        }
    }*@
@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @item.SecId
            </td>
            <td>
                @item.ShortName
            </td>
            <td>
                @item.TradeDate
            </td>
            <td>
                @item.Close
            </td>
        </tr>
    }*@
@*@for (int i = 0; i <= 1000; i++)
    {
        <tr>
            <td>
                @(i+1)
            </td>
            <td>
                @Model[i].SecId
            </td>
            <td>
                @Model[i].ShortName
            </td>
            <td>
                @Model[i].TradeDate.ToShortDateString()
            </td>
            <td>
                @Model[i].Close
            </td>
        </tr>
    }*@
@**@
@*</table>*@
@*<script src="~/js/ThemesIndex.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            new ThemesIndexPack.ThemeManager(
                @Html.Raw(JsonConvert.SerializeObject(Model)),
                '@Url.Action("Index", "Patterns")?id=',
                '@(User?.Identity?.IsAuthenticated)',
                '@Url.Action("SetLearnedState")',
                '@Url.Action("Index", "Faq")?id=');
        });
    </script>
*@