@using JsonSerializer = System.Text.Json.JsonSerializer
@model List<MonitoringModel>

@{
    <link rel="stylesheet" href="~/css/Monitoring.css" />
    ViewData["Title"] = "Monitoring";
}

<partial name="_BuyTooltip" />

<div class="monitoring-index-page">
    <h1 class="monitoring-index-h1">Monitoring</h1>
    <div class="monitoring-index-content">
        <table class="table monitoring-index-table">
            <thead>
                <tr>
                    <th>
                        <b>Id</b>
                    </th>
                    <th>
                        <b>Name</b>
                    </th>
                    <th>
                        <b>Init price</b>
                    </th>
                    <th>
                        <b>Current price</b>
                    </th>
                    <th>
                        <b>Percent</b>
                    </th>
                    <th>
                        <b>To by date</b>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/MonitoringIndexManager.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(function () {
        new MonitoringIndexManagerPack.MonitoringIndexManager(
            @Html.Raw(JsonSerializer.Serialize(Model)),
            '@Url.Action("Index", "Monitoring")',
            @*'@(User?.Identity?.IsAuthenticated)',
            '@Url.Action("SetLearnedState")',
            '@Url.Action("Index", "Faq")?id='*@
            );
    });
</script>

@*@if (Model.Count != 0)
    {
        @for (int i = 0; i < (Model.Count < 100 ? Model.Count : 100); i++)
        {
            <tr>
                <td>
                    @Model[i].SecId
                </td>
                <td>
                    @Model[i].InitClose
                </td>
                <td>
                    @Model[i].CurrentClose
                </td>
                <td>
                    @Model[i].Percent
                </td>
                <td>
                    @Model[i].DeleteDate
                </td>
            </tr>
        }
    }*@
@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @item.SecId
            </td>
            <td>
                @item.ShortName
            </td>
            <td>
                @item.TradeDate
            </td>
            <td>
                @item.Close
            </td>
        </tr>
    }*@
