@using JsonSerializer = System.Text.Json.JsonSerializer
@using moex_web.Data.Entities
@model List<TradeHistory>

@{
    <link rel="stylesheet" href="~/css/TradeHistory.css" />
    ViewData["Title"] = "TradeHistory";
}

<div class="tradehistory-index-page">
    <h1 class="tradehistory-index-h1">Trade History</h1>
    <div class="tradehistory-index-content">
        <table class="table tradehistory-index-table">
            <thead>
                <tr>
                    <th>
                        <b>SecId</b>
                    </th>
                    <th>
                        <b>Lot Count</b>
                    </th>
                    <th>
                        <b>Buy Price</b>
                    </th>
                    <th>
                        <b>Buy Date</b>
                    </th>
                    <th>
                        <b>Sell Price</b>
                    </th>
                    <th>
                        <b>Sell Date</b>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

    <script src="~/js/TradeHistoryIndexManager.js" asp-append-version="true"></script>
    <script type="text/javascript">
    $(function () {
        new TradeHistoryIndexManagerPack.TradeHistoryIndexManager(
            @Html.Raw(JsonSerializer.Serialize(Model))
            @*'@Url.Action("Index", "TradeHistory")',
            @*'@(User?.Identity?.IsAuthenticated)',
            '@Url.Action("SetLearnedState")',
            '@Url.Action("Index", "Faq")?id='*@
            );
    });
    </script>

